h1 {
    background-color: lightblue;
}
p {
    background-color: yellowgreen;
}

#adityaPTag
{
    text-align: center;
    color: red;
}

.adityaPClass
{
    text-align: end;
    color: purple;
}

table.adityaPClass
{
    text-align: center;
    color: crimson;
}